<div class="group">
  <%= f.input :title, label: "书名" %>
  <%= f.input :author, label: "作者" %>
  <%= f.input :publisher, label: "出版社" %>
  <%= f.input :pub_year, label: "出版时间" %>
  <%= f.input :edit_num, label: "版次" %>
  <%= f.input :page, label: "页码" %>
  <%= f.input :description, label: "简介" %>
  <%= f.input :series_name, label: "丛书名" %>
  <%= f.input :remark, label: "备注" %>
  <%= f.input :isbn, label: "ISBN" %>
  <%= f.input :copy, label: "数量" %>
  <%= f.input :keyword, label: "主题词" %>
  <%= f.input :price, label: "价格" %>
  <%= f.input :barcode, label: "条码" %>
  <%= f.input :book_class, label: "分类号" %>
  <%= f.input :shelf_class, label: "架类" %>
  <%= f.input :shelf_num, label: "排架号" %>
  <%= f.input :record_date, label: "登记日期" %>
</div>
