<div class="row">
  <div class="col-md-12">
    <h2>借阅明细</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="80%">图书明细</th>
          <th>数量</th>
        </tr>
      </thead>
      <tbody>
        <% current_cart.cart_items.each do |cart_item| %>
          <tr>
            <td>
              <%= link_to(cart_item.book.title, book_path(cart_item.book)) %>
            </td>
            <td>
              <%= cart_item.quantity %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <hr/>
  <h2>借阅说明</h2>
  <div class="order-form">
    <%= simple_form_for @order do |f| %>
    <div class="form-group col-lg-12">
      <%= f.input :borrower, label: "借阅人" %>
      <%= f.input :borrow_at, label: "借阅时间", as: :string, input_html: { data: { behaviour: "datepicker" }} %>
      <%= f.input :due_at, label: "归还时间", as: :string, input_html: { data: { behaviur: "datepicker"}} %>
    </div>
    <div class="checkout">
      <%= f.submit "申请借阅", class: "btn btn-lg btn-danger pull-right", data: { disable_with: "借阅申请发送中……"} %>
    </div>
  <% end %>
</div>
</div>
<script type="text/javascript">
$("#order_borrow_at").datepicker({format: "yyyy-mm-dd", language: "<%= I18n.locale %>"});
$("#order_due_at").datepicker({format: "yyyy-mm-dd", language: "<%= I18n.locale %>"});
</script>