<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield(:title) %>
      <% else %>
        图书管理
      <% end %>
    </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>

    <!-- <style> <% State.all.each do |state| %> .state-<%= state.name %> { background-color: <%= state.color %>; } <% end %> </style> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <%= render "common/navbar" %>
      <%= render "common/flashes" %>
      <div class="row" id="admin" style="padding-top:70px">
        <div class="col-md-10">
          <%= yield %>
        </div>
        <div class="col-md-2">
          <h2><%= t("mgmt") + t("blank") + t("link") %></h2>
          <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
            <li>
              <%= link_to t("admin.journals_mgmt"), admin_journals_path %>
              <%= link_to t("admin.docs_mgmt"), admin_docs_path %>
              <%= link_to "图书管理", admin_books_path %>
              <%= link_to "期刊管理", admin_pubs_path %>
              <%= link_to "借书清单", admin_orders_path %>
              <%= link_to t("admin.users_mgmt"), admin_users_path %>
              <%= link_to t("admin.states_mgmt"), admin_states_path %>
              <%= link_to t("admin.depts_mgmt"), admin_departments_path %>
              <%= link_to t("admin.versions_mgmt"), admin_versions_path %>
            </li>
          </ul>
        </div>
        <!-- </div> -->
        <%= render "common/footer" %>
      </div>
    </body>
  </html>